*{
    margin : 0 ;
    padding : 0 ;
}

.dashboard{
    position : absolute ;
    top : 0 ;
    left : 0 ;
    width : 100vw ;
    height : 100vh ;
}

.dashboard_container{
    position : absolute ;
    width : 100% ;
    height : 100% ;
    display : flex ;
}

.dashboard_left{
    width : 20% ;
    min-width: 200px ;
    background-color : rgb(1, 12, 36) ;
    color : #fff ;
    overflow : auto ;
}

.dashboard_left_ctn{
    width : 100% ;
    box-sizing : border-box ;
}

.dashboard_left_ctn_title{
    padding : 20px ;
    text-align : center ;
    box-sizing : border-box ;
    font-size : max( 2vw , 18px ) ;
    font-weight : bold ;
    line-height : 1.5 ;
    word-break : break-word ;
    user-select : none ;
}

.dashboard_left_ctn_admin{
    background-color : rgba( 255 , 255 , 255 , 0.2 ) ;
    padding : 20px ;
    position: relative ;
    min-height : 10vh ;
    min-height : 70px ;
    display : flex ;
    justify-content : center ;
    align-items : center ;
    box-sizing : border-box ;
}

.dashboard_left_ctn_admin_picture{
    padding : 20% ;
    min-width : 20px ;
    min-height : 20px ;
    background-image : url( "../images/admin.jpg" ) ;
    background-size : cover ;
    background-repeat : no-repeat ;
    background-position : center ;
    border-radius : 100% ;
}

.dashboard_left_ctn_admin_name{
    margin-left : 20px ;
    text-rendering : ellipsis ;
    text-overflow : hidden ;
    box-sizing : border-box ;
    font-size : max( 1vw , 14px ) ;
    font-weight : 400 ;
    line-height : 1.5 ;
    user-select : none ;
}

.dashboard_left_ctn_menus{
    margin-top : 0px ;
}

.dashboard_left_ctn_menus_menu{
    margin-top : 25px ;
}

.dashboard_left_ctn_menus_menu_title{
    color : rgba( 255, 255, 255, 0.5 ) ;
    font-weight : bold ;
    letter-spacing : 1.3px ;
    padding-left : 20px ;
    padding-right : 20px ;
    box-sizing : border-box ;
    font-size : max( 1vw , 18px ) ;
    user-select : none ;
}

.dashboard_left_ctn_menus_menu_list{
    list-style : none ;
    padding : 0 ;
    margin : 0 ;
    display : block ;
    margin-top : 15px ;
}

.dashboard_left_ctn_menus_menu_list_item{
    padding-left : 40px ;
    padding-top : 15px ;
    padding-bottom : 15px ;
    color : #fff ;
    font-weight : bold ;
    letter-spacing : 1px ;
    font-size : max( 1vw , 18px ) ;
    display : flex ;
    align-items : center ;
    cursor: pointer ;
    transition : all 250ms ;
    user-select : none ;
}

.dashboard_left_ctn_menus_menu_list_item:hover {
    background-color : rgba( 255 , 255 , 255 , 0.2 ) ;
}

.dashboard_left_ctn_menus_menu_list_item_color{
    padding : 2% ;
    min-width: 2px ;
    min-height : 2px ;
    border-radius : 100% ;
    background-color : silver ;
    display : block ;
    margin-right : 10px ;
}

.validated{
    background-color : rgb(48, 197, 48) ;
}

.rejected{
    background-color : rgb(245, 32, 32) ;
}

.dashboard_left_ctn_menus_menu_list_item_logo{
    background-image : url( '../images/infografis-png-1.png' ) ;
    background-size : contain ;
    padding : 2% ;
    display : block ;
    min-width: 20px ;
    min-height : 20px ;
    margin-right : 5px ;
}

.dashboard_left_ctn_menus_menu_list_item_text{
    width : 100% ;
    display : block ;
}

.dashboard_left_ctn_menus_menu_list_item_text::after{
    padding : 1% ;
    min-width: 4px ;
    min-height : 4px ;
    border-top : 1.5px solid rgba( 255 , 255 , 255 , 0.4 ) ;
    border-right :1.5px solid rgba( 255 , 255 , 255 , 0.4 ) ;
    transform : rotate( 45deg );
    float : right ;
    display : block ;
    box-sizing : border-box ;
    position: relative ;
    content : "" ;
    margin-right : 20px ;
    margin-top : 4% ;
}

.dashboard_right{
    width : 80% ;
    background-color : rgb(221, 219, 219) ;
}

.dashboard_right_ctn{
    width : 100% ;
    height : 100% ;
    display : flex ;
    flex-direction : column ;
}

.dashboard_right_ctn_header{
    background-image : url(../images/back.jpg) ;
    background-size : cover ;
    background-position : center ;
    background-repeat : no-repeat ;
    width : 100% ;
    height : auto ;
    min-height : 100px ;
}

.dashboard_right_ctn_header_{
    background-color : rgba( 0 , 0 , 0 , 0.8 ) ;
    width : 100% ;
    height : 100% ;
    box-sizing : border-box ;
    padding-bottom : 20px ;
}

.dashboard_right_ctn_header_title{
    color : #fff ;
    font-size : max( 1.2vw , 14px );
    padding-top : 30px ;
    padding-left : 20px ;
    box-sizing : border-box ;
    letter-spacing : 1px ;
    line-height : 1.8 ;
    font-weight : bold ;
    user-select : none ;
}

.dashboard_right_ctn_body{
    width : 100% ;
    height : 100% ;
    display : flex ;
    box-sizing : border-box ;

    overflow: hidden;
}

.dashboard_right_ctn_body_getAll,
.dashboard_right_ctn_body_getOne{
    background-color : #fff ;
    width : 100% ;
    margin : 10px ;
    overflow : hidden ;
    height : 100% ;
    box-shadow : 0px 1px 5px 3px rgba( 0 , 0 , 0 , 0.3 );
}

.dashboard_right_ctn_body_getAll_header,
.dashboard_right_ctn_body_getOne_header{
    width : 100% ;
    height : 5% ;
    box-sizing : border-box ;
    background-color : rgba(1, 12, 36, 0.9) ;
    min-height : 35px ;
    color : #fff ;
    height : auto ;
    text-align : center ;
    font-weight : bold ;
    font-size : max( 1.9vw , 19px );
    display : flex ;
    justify-content : center ;
    align-items : center ;
    padding : 20px 0px ;
    /*box-shadow : 0px 10px 5px rgba( 0 , 0 , 0 , 0.3 );*/
}

.dashboard_right_ctn_body_getOne_header{
    
}

.dashboard_right_ctn_body_getAll_list{
    list-style : none ;
    margin : 0 ;
    padding : 0 ;
    padding : 20px ;
    box-sizing : border-box ;
    width : 100% ;
    overflow : auto ;
    height : 100% ;
    padding-bottom : 25% ;
    scrollbar-color: rgba( 0 , 0 , 0 ,0.1 ) transparent ;
    scrollbar-width : thin ;
    scroll-behavior: smooth;
}


.dashboard_right_ctn_body_getAll_list::-webkit-scrollbar{
    width : 5px;
}

.dashboard_right_ctn_body_getAll_list::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 3px rgba(1,12,36,0.5); 
    border-radius: 10px;
}

.dashboard_right_ctn_body_getAll_list::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(1,12,36,0.5);
    background-color : rgba(1,12,36,0.5);
}

.dashboard_right_ctn_body_getAll_list_onsbm{
    margin-top : 20px ;
    box-shadow : 0px 1px 10px rgba( 0 , 0 ,0 , 0.4 ) ;
    padding : 20px ;
    border-radius : 5px ;
    cursor: pointer ;
    transition : all 250ms ;
}

.dashboard_right_ctn_body_getAll_list_onsbm:hover{
    background-color : rgba( 0 , 0 , 0 , 0.1 );
}

.dashboard_right_ctn_body_getAll_list_onsbm_name{
    color : rgb(1, 12, 36, 1) ;
    font-size : max( 1.6vw , 19px );
    font-weight : bold ;
    letter-spacing : 1.4px ;
    line-height : 1.5 ;
    max-width : 100% ;
    box-sizing : border-box ;
    word-break : break-word ;
}

.dashboard_right_ctn_body_getAll_list_onsbm_name::after{
    padding : 1% ;
    border-radius : 100% ;
    min-width: 2px ;
    min-height : 2px ;
    background-color : silver ;
    display : block ;
    margin-left : 10px ;
    content : " " ;
    display : inline-block ;
    align-self : center ;
}

.valid::after{
    background-color :rgb(48, 197, 48) ;
}

.reject::after{
    background-color :rgb(245, 32, 32) ;
}

.dashboard_right_ctn_body_getAll_list_onsbm_motivation{
    color : rgba( 0 , 0 , 0 , 1 ) ;
    font-size : max( 1vw , 16px );
    font-weight : 100 ;
    letter-spacing : 0px ;
    line-height : 1.5 ;
    max-width : 100% ;
    box-sizing : border-box ;
    text-overflow : ellipsis ;
    word-wrap : nowrap ;
    text-rendering : ellipsis ;
    white-space: nowrap ;
    overflow : hidden ;
}

.dashboard_right_ctn_body_getAll_list_onsbm_created,
.dashboard_right_ctn_body_getAll_list_onsbm_updated{
    color : rgba( 0 , 0 , 0 , 0.5 ) ;
    font-size : max( 0.9vw , 12px );
    font-weight : 100 ;
    letter-spacing : 0px ;
    line-height : 1.5 ;
    max-width : 100% ;
    box-sizing : border-box ;
    text-overflow : ellipsis ;
    word-wrap : nowrap ;
    text-rendering : ellipsis ;
    white-space: nowrap ;
    overflow : hidden ;
}

.dashboard_right_ctn_body_getAll_list_onsbm_button{
    width : 100% ;
    box-sizing : border-box ;
    display : flex ;
    margin-top : 15px ;
}

.dashboard_right_ctn_body_getAll_list_onsbm_button_confirm,
.dashboard_right_ctn_body_getAll_list_onsbm_button_rejected{
    width : 100% ;
    margin-left : 5px ;
    margin-right : 5px ;
    min-height : 35px ;
    border-radius : 5px ;
    border : 0 ;
    color : #fff ;
    font-size : max( 1vw , 14px );
    padding : 5px 20px ;
    font-weight : bold ;
    cursor: pointer ;
}

.dashboard_right_ctn_body_getAll_list_onsbm_button_confirm{
    background-color :rgb(48, 197, 48) ;
}

.dashboard_right_ctn_body_getAll_list_onsbm_button_rejected{
    background-color :rgb(245, 32, 32) ;
}

.dashboard_right_ctn_body_getOne_body{
    padding : 20px ;
    box-sizing : border-box ;
    letter-spacing : 1px ;
    line-height : 1.5 ;
    overflow : auto ;
    height : 100% ;
    padding-bottom : 25% ;
    scrollbar-color: rgba( 0 , 0 , 0 ,0.1 ) transparent ;
    scrollbar-width : thin ;
    scroll-behavior: smooth;
}

.dashboard_right_ctn_body_getOne_body::-webkit-scrollbar{
    width : 5px;
}

.dashboard_right_ctn_body_getOne_body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 3px rgba(1,12,36,0.5); 
    border-radius: 10px;
}

.dashboard_right_ctn_body_getOne_body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(1,12,36,0.5);
    background-color : rgba(1,12,36,0.5);
}

.dashboard_right_ctn_body_getOne_body_firstname{
    font-size : max( 1.4vw ,19px );
    margin-bottom : 10px ;
}

.dashboard_right_ctn_body_getOne_body_lastname{
    font-size : max( 1.4vw ,19px );
    margin-bottom : 10px ;
}

.dashboard_right_ctn_body_getOne_body_age{
    font-size : max( 1.4vw ,19px );
    margin-bottom : 10px ;
}

.dashboard_right_ctn_body_getOne_body_experience{
    font-size : max( 1.4vw ,19px );
    margin-bottom : 10px ;
}

.dashboard_right_ctn_body_getOne_body_motivation{
    font-size : max( 1.4vw ,19px );
    margin-bottom : 10px ;
}

.dashboard_right_ctn_body_getAll_list_onsbm_more{
    font-size : max( 1.2vw ,15px );
    margin-bottom : 10px ;
    margin-top : 10px ;
    text-align : right ;
}

.dashboard_right_ctn_body_getAll_list_onsbm_more_link{
    color : blue ;
    text-decoration : none ;
    font-weight : bold ;
    letter-spacing : 1px ;
}

.dashboard_right_ctn_body_getAll_list_onsbm_more_link:hover{
    color: rgb(5, 43, 75) ;
    text-decoration : underline ;
}

.loadGif{
	position : fixed ;
	width : 100% ;
	height : 100% ;
	top : 0 ;
	left : 0 ;
	background-image : url('../images/giphy.gif' ) ;
	background-repeat : no-repeat ;
	background-position : center ;
	background-color : #fff ;
	opacity : 0 ;
	z-index : -3000 ;
	transition : all 250ms ;
}

#myChart{
    width : auto ;
    height : auto ;
}