*{
	margin : 0 ;
	padding : 0 ;
}

@keyframes anim1 {
	0%{
		width : 30% ;
		margin-left : 0% ;
	}

	50%{
		width : 0% ;
		margin-left : 100% ;
	}

	51%{
		width : 30% ;
		margin-left : 70% ;
	}

	100%{
		width : 0% ;
		margin-left : 0% ;
	}
}

.suscribe{
	background-image : url( '../images/back.jpg' ) ;
	background-position : center ;
	background-repeat: no-repeat ;
	background-size : cover ;
	position : absolute ;
	top : 0 ;
	left : 0 ;
	width : 100vw ;
	height : 100vh ;
	overflow : auto ;
}

.suscribe::-webkit-scrollbar{
    width : 5px ;
	background-color : #fff ;
}

.suscribe::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0); 
    border-radius: 10px;
}

.suscribe::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
}

.suscribe_container{
	background-color : rgba( 0 , 0 , 0 , 0.9 ) ;
	position : absolute ;
	width : 100% ;
	height : 100% ;
	min-height : 500px ;
	display : flex ;
	justify-content : center ;
	align-items : center ;
}

.suscribe_container_form{
	width : 80% ;
	height : 80% ;
	transition : all 250ms ;
	display : flex ;
}

.suscribe_container_form_left{
	width : 40% ;
	background-color : rgb(1, 12, 36);
}

.suscribe_container_form_left_ctn{
	display : flex ;
	flex-direction : column ;
	justify-content : center ;
	align-items : center ;
	width : 100% ;
	height : 100% ;
	padding : 20px ;
	box-sizing : border-box ;
	word-break : break-word ;
}

.suscribe_container_form_left_ctn_title{
	color : #fff ;
	text-align : center ;
	font-weight : bold ;
	font-size : 2vw ;
	transition : all 250ms ;
}

.suscribe_container_form_left_ctn_des{
	line-height : 1.3 ;
	color : rgba( 255 , 255 , 255 , 0.7 ) ;
	font-weight : 400 ;
	text-align : center ;
	margin-top : 10px ;
	font-size : 1.2vw ;
	transition : all 250ms ;
}

.suscribe_container_form_left_ctn_bar{
	width : 100% ;
	box-sizing : border-box ;
	padding : 20px 0px ;
}

.suscribe_container_form_left_ctn_bar_{
	width : 30% ;
	height : 5px ;
	background-color: rgb(21, 197, 139) ;
	animation : anim1 2s infinite ;
}

.suscribe_container_form_right{
	width : 60% ;
	background-color : #fff ;
	overflow : auto ;
	scrollbar-color: rgba( 0 , 0 , 0 ,0.1 ) transparent ;
    scrollbar-width : thin ;
    scroll-behavior: smooth;
}

.suscribe_container_form_right::-webkit-scrollbar{
    width : 5px ;
}

textarea{
	scrollbar-color: rgba( 0 , 0 , 0 ,0.1 ) transparent ;
    scrollbar-width : thin ;
    scroll-behavior: smooth;
}

textarea::-webkit-scrollbar{
    width : 4px ;
}

.suscribe_container_form_right::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0); 
    border-radius: 10px;
}

.suscribe_container_form_right::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
}


.suscribe_container_form_right_ctn{
	width : 100% ;
	height : 100% ;
	display : flex ;
	flex-direction : column ;
	align-items : center ;
	justify-content : center ;
}

.suscribe_container_form_right_ctn_title{
	text-align : center ;
	font-weight : bold ;
	font-size : 2vw ;
	padding : 20px 20px ;
	transition : all 250ms ;
	box-sizing : border-box ;
	margin-bottom : -20px ;
}

.suscribe_container_form_right_ctn_form{
	width : 70% ;
	display : block ;
	transition : all 250ms ;
	box-sizing : border-box ;
	padding : 20px ;
}

.suscribe_container_form_right_ctn_form_text{
	width : 100% ;
	box-sizing : border-box ;
	padding : 15px 20px ;
	margin-top : 20px ;
	border : 1px solid #0000002f ;
	border-radius : 10px ;
	outline : none ;
	resize : none ;
	transition : all 250ms ;
	display : block ;
	height : 20% ;
	min-height : 45px ;
	font-size : 1vw ;
	color : rgb(1, 12, 36) ;
	font-weight : bold ;
}

.suscribe_container_form_right_ctn_form_text:focus,
.suscribe_container_form_right_ctn_form_area:focus{
	border : 1px solid #0000208f ;
}

.suscribe_container_form_right_ctn_form_area{
	width : 100% ;
	resize : none ;
	margin-top : 20px ;
	padding : 15px 20px ;
	box-sizing : border-box ;
	display : block ;
	min-height : 70px ;
	outline : none ;
	border : 1px solid #0000002f ;
	border-radius : 2px ;
	height : 24vh ;
	font-size : 1vw ;
	font-weight : bold ;
	color : rgb(1, 12, 36) ;
}

.suscribe_container_form_right_ctn_form_submit{
	width : 50% ;
	margin-top : 30px ;
	margin-left : auto ;
	margin-right : auto ;
	display : block ;
	box-sizing : border-box ;
	padding : 10px 20px ;
	border : 0 ;
	background-color : rgb(1, 12, 36);
	color : #fff ;
	border-radius : 100px ;
	min-width: 100px ;
	min-height : 40px ;
	transition : all 250ms ;
	cursor : pointer ;
	font-size : 1vw ;
	display : flex ;
	justify-content : center ;
	align-items : center ;
	font-weight : bold ;
}

.suscribe_container_form_right_ctn_form_error{
	display : block ;
	color : red ;
	margin-top : 5px ;
	margin-left : 5px ;
	opacity : 0 ;
	position: absolute ;
}

.loginEror{
	color : red ;
	margin-top : 40px ;
	text-align : center ;
	word-break : break-word ;
	font-size : 1vw ;
	transition : all 250ms ;
	opacity : 0 ;
}

.suscribe_container_form_right_ctn_form_submit:hover{
	background-color : #fff ;
	color : #000 ;
	border : 1px solid rgb(1, 12, 36) ;
}

.suscribe_container_loadGif{
	position : fixed ;
	width : 100% ;
	height : 100% ;
	top : 0 ;
	left : 0 ;
	background-image : url('../images/giphy.gif' ) ;
	background-repeat : no-repeat ;
	background-position : center ;
	background-color : #fff ;
	opacity : 0 ;
	z-index : -3000 ;
	transition : all 250ms ;
}

@media( min-width : 1200px ){
	.suscribe_container_form{
		width : 80% ;
	}
}

@media( max-width : 1199px ){
	.suscribe_container_form_left_ctn_des{
		font-size : 16px ;
	}

	.suscribe_container_form_right_ctn_form_area{
		font-size : 14px ;
	}

	.suscribe_container_form_right_ctn_form_text{
		font-size : 14px ;
	}

	.suscribe_container_form_right_ctn_form_submit{
		font-size : 14px ;
	}

	.loginEror{
		font-size : 14px ;
	}
}

@media( max-width : 800px ){
	.suscribe_container_form{
		width : 100% ;
		height : 100% ;
	}

	.suscribe_container_form_left_ctn_title{
		font-size : 20px ;
	}

	.suscribe_container_form_right_ctn_title{
		font-size : 20px ;
	}
}

@media( max-width : 600px ){
	.suscribe_container_form{
		flex-direction : column ;
	}

	.suscribe_container_form_left{
		width : 100% ;
		min-height : 150px ;
	}
	
	.suscribe_container_form_right{
		width : 100% ;
		height : 100% ;
	}

	.suscribe_container_form_right_ctn{
		justify-content : flex-start ;
		margin-top : 20px ;
	}
}